* {
  box-sizing: border-box;
}

.portfolioBody{
    /* background-color: #8e44ad; */
    /* background-color: #8f82f6 ; */
    /* background-color: #a29bfe; */
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92609b, #654ea3);
    color: #ecf0f1;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
}

.titleHeader{
  font-size: 40px;
  font-weight: 600 bold;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    height: 10vh;
    margin-top: 5vh;
}

.navbar{
    display: flex;
    padding: 10px 5% 20px 2%;
    color: #100c08;
    /* color: #ecf0f1; */
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    justify-content: space-between;
}

.navbarBio{
  font-weight: 500;
  font-size: 1.5rem;
}

.navbarItems{
    display: flex;
}



.navbarItems li{
    list-style: none;
    display: flex;
    font-size: 34px;
    
}

.navbar li ul {
  margin: 15px 10px;
}

.navbarItems li ul a{
  text-decoration: none;
  color: #ecf0f1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    min-height: 500px;
    align-items: center;
    margin: 20px 5% 20px 5%;
  }
  
  .flex-item-left {
    padding: 30px;
    flex: 30%;
  }

  .dp{
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
    }
  
  .flex-item-right {
    padding: 30px 100px 30px 100px;
    border-radius: 30px;
    flex: 70%;
    min-height: 500px;
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #767aff, #b2c7ff);
} 

  
.flex-item-right p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 21px;
    font-family: 'Lobster', cursive;
    color: #100c08;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: 20px 4% 20px 5%;   
}

.card-item{
  flex: 20%;
  display: flex;
  align-items: center;
  font-family: 'Fasthand', cursive;
  font-size: 30px;
  justify-content: center;
  height: 150px;
  color: #100c08 ;
  margin: 20px 5% 20px 5%;
  /* background-color: #ecf0f1; */
  background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #767aff, #b2c7ff);
  border-radius: 12px;
}


.poemContainer{
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: 20px 4% 20px 5%;  
    }

.poem-item{
margin:20px;
   display: flex;
  align-items: center;
}

.poem-item img {
width:400px
}

.filmContainer {
  text-align: center;
    letter-spacing: 1px;
    font-size: 21px;
    font-family: 'Lobster', cursive;
  padding: 30px 12px 30px 12px;
  color: #100c08;
  margin: 3vh 5% 2vh 5%;
  background: #a8c0ff;
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #767aff, #b2c7ff);
  border-radius: 12px;
}

.poem-item{
  display: flex;
  align-items: center;
}

.filmContainer ul {
  list-style: none;
}

.filmContainer ul li a{
  text-decoration: none;
  color: #100c08 ;
}

.card-item a:link {
  color: #100c08 ;
  text-decoration: none;
}

.card-item a:hover {
  color: #34495e;
  text-decoration: none;
}

.card-inner-container{
background-color: transparent;
padding: 30px 70px;
border: 1px solid #000000;
border-radius: 12px;
}

.card-inner-container-second{
  background-color: transparent;
padding: 30px 50px;
border: 1px solid #000000;
border-radius: 12px;
}

.card-inner-container-third{
  background-color: transparent;
padding: 30px 90px;
border: 1px solid #000000;
border-radius: 12px;
}

.card-inner-container-four{
  background-color: transparent;
padding: 30px 30px;
border: 1px solid #000000;
border-radius: 12px;
}

.footer{
    padding: 20px 20% 20px 20%;
    display: flex;
    justify-content: center;
    color: #100c08;  
    letter-spacing: 1px;
    font-size: 21px;
    font-family: 'Lobster', cursive;
    color: #100c08;
}

.footer p {
  margin-top: 23px;
}

.chat-Icons{
  display: flex;
}

.chat-Icons ul {
  display: flex;
}

.chat-Icons li {
  list-style: none;
  margin: 0px 10px;
}

.chat-img{
  width: 15px;
  height: 15px;
}

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {

    .navbar {
      padding: 0px;
      height: 90px;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column-reverse;
    }

    .flex-item-right {
    padding: 30px;
} 

    .card-item {
      min-width: 300px;
      min-height: 200px;
  }

  .navbarBio {
    font-weight: 500;
    text-align:center;
    margin-top:0px;
    font-size: 1.2rem;
}


    .flex-container {
      flex-direction: column;
    }

    .poemContainer{
flex-direction: column;
    }

.poem-item{
flex-direction: column;
}

    .cardContainer{
      flex-direction: column;
    }

    .titleHeader {
    font-size: 30px;
    height: 20vh;
    margin-top: 2vh;
}
  }
